html{
    background-color: rgb(255, 255, 255);

}

.menu-items{
    display: flex;
    margin-top: 5px;
    margin-bottom: 8px;

}
.menu-items a{
    margin: 0px 20px 0px 0px;

}
.about-item{
    margin-top: 30px;
    padding: 20px;
    color: whitesmoke;
}
.profileimg{
    margin-top: 25px;
border-radius: 140px;

padding-left: 25px;
padding-right: 0px;
}
.skill-set{
    padding-top: 8px;
    color: black;
    width: 10px;
}
hr{
    border: 2px steelblue solid;
    width: 100px;
}
.project-list{
    padding-top: 10px;
    display: flex;
}
.nav-bar{
  
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}

li{
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    list-style: none;
    display: inline-flex;
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: flex-end;


}
.menu-items{
    font-size: 20px;

}