
.container{
    background-color: rgb(255, 254, 254);
    line-height: 1.2;

}
.menu-items{
    display: flex;
    margin-top: 5px;
    margin-bottom: 8px;

}
.menu-items a{
    justify-content: space-between;

    color: blue;
    margin: 20px;

}
.about-item{
    color: rgb(0, 0, 0);
}
.profileimg{
    margin-top: 25px;
border-radius: 140px;
width:50vh;
 height:50vh;
}
.skill-set{
    padding-top: 20px;
    color: black;
    width: 10px;

}
.about-div:p{
    font-size: 20px;
}
.skill-container{
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
align-content: center;
display: grid;
    grid-template-columns: repeat(auto-fill,minmax(45vh ,3fr));
    grid-gap: 10px;

}
.sub-skill{
    align-self: center;
    justify-self: center;
    width: 45vh;
    border: 2px rgb(230, 235, 235) solid;
    background-color: rgba(175, 170, 170, 0.253);
    color: black;
   padding-bottom: 7px;
    /*  padding-left: 6px;
    padding-right: 6px; */
    
}
.about-container{
    font-family: fantasy;
    color: rgb(0, 0, 0);
    background-color: rgba(221, 221, 221, 0.171);
    display: grid;
    grid-template-columns:2fr 2fr;
justify-items: center;}
hr{
    border: 2px steelblue solid;
    width: 100px;
}
.links{
 display: flex;
    flex-direction: column;
    font: 20px sans-serif;

}
.into-section{
    padding: 5px;
    font-size: 16px;
text-align: justify;
border-left: 1px black solid;
padding-left: 3px;}
.links,a{
    font-weight: 800;
text-decoration: none;
    color: rgba(10, 12, 20, 0.747);
}
.project-title ,.skill-title{
    text-align: center;
}
.url-btn{
    display: inline;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;

}
.url-btn button {
    color: rgb(0, 0, 0);
border: 2px rgba(175, 170, 170, 0.5) solid;
font-style: italic;
background-color:rgb(175, 170, 170); ;
}

.project-list{
    padding-top: 10px;
    display: flex;}

.nav-bar{
    width: 30%;
border-bottom: solid;
border-right: solid;
border-color: rgb(241, 64, 233);
font-family: Karumbi;
    margin-top: 0px;
    font-size: 4rem;
  align-items: center;
}
.nav-bar:p{
text-align: center;
    }

li{
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    list-style: none;
    display: inline-flex;
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: flex-end;


}
.menu-items{
    font-size: 20px;

}
